@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #b0b0b0; /* Ceramic Grey Background */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}